.action-button {
    width: 14vw;
    margin: 0 auto;
    display: inline-block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1%;
    opacity: 1;
}

/*
.action-menu .action-button:active {
    opacity: 0.9;
}

.action-menu .action-button.show {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: actionButtonShowAnimation 0.4s ease-in-out;
}

.action-menu .action-button.hide {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: actionButtonHideAnimation 0.4s ease-in-out;
}

/* Animations */ /*
@-webkit-keyframes actionButtonShowAnimation {
    0% {
        -webkit-transform: scale(1.10) translateY(200%);
    }
    75% {
        -webkit-transform: scale(1.05) translateY(-10%);
    }
    100% {
        -webkit-transform: scale(1) translateY(0%);
    }
}

@-webkit-keyframes actionButtonHideAnimation {
    0% {
        -webkit-transform: scale(1) translateY(0%);
    }
    25% {
        -webkit-transform: scale(1.05) translateY(-75%);
    }
    100% {
        -webkit-transform: scale(1) translateY(200%);
    }
}
 */
