.bottom-menu {
     transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
}

.bottom-menu.menu-open {
    transform: translateX(75%);
    -webkit-transform: translateX(75%);
}

.bottom-menu .menu {
    position: absolute;
    bottom: 0;
    z-index: 3;
    font-family: 'HelveticaNeue';
    margin: 0 11px 11px;
    display: none;
    -webkit-transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s ease;
}

.bottom-menu .menu.show {
    -webkit-transform: translateY(-20%);
}

.bottom-menu .action-menu {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 4;
    background: #F8F8F8;
    border-top: 5px solid #E7E7E7;
}

.bottom-menu .action-menu ul {
    z-index: 3;
}

.bottom-menu .action-menu ul li {
    color: #3965ce;
    padding: 3% 6%;
    font-size: 30px;
    display: -webkit-inline-box;
}

.bottom-menu .action-menu ul li:active {
    background-color: #D9D9D9
}

.bottom-menu .overlay {
    width: 100%;
    height: 695px;
    position: absolute;
    top: -75px;
    z-index: 3;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.bottom-menu .menu li.action-menu-item {
    background-color: #ffffff;
    border-bottom: 1px solid #d3d3d3;
    height: 50px;
    width: 352px;
    position: relative;
    color: #3965ce;
}

.bottom-menu .menu li.action-menu-item:first-child  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-menu .menu li.action-menu-item:nth-last-child(2)  {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fb635b;
}

.bottom-menu .menu li.action-menu-item:last-child {
    margin-top: 7px;
    border-radius: 5px;
}

.bottom-menu .menu li.action-menu-item .label {
    text-align: center;
    font-size: 21px;
    letter-spacing: 2px;
    width: 100%;
    position: absolute;
    top: 14px;
}

.bottom-menu .menu li.action-menu-item:active {
    opacity: 0.9;
    color: #24486C;
    font-weight: bold;
}

.bottom-menu .menu li.action-menu-item .label.cancel {
    color: #3965ce;
    font-weight: bold;
}
