.company-activites {
   background-color: #f3f5f8;
}

.company-activites .activity {
    padding-top: 3.74%;
    padding-left: 4%; 
    padding-right: 4.29%;
    padding-bottom: 3.87%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 1.5%;
    height: 63px;
}

.company-activites .activity:active {
    opacity: 0.5;
}

.company-activites .activity .title,
.company-activites .activity .amount,
.company-activites .activity .comment {
    width: 50%;
    display: inline-block;
}

.company-activites .activity .title,
.company-activites .activity .amount  {
    font-weight: bold;
    font-size: 17px;
}

.company-activites .activity .amount  {
    text-align: right;
}

.company-activites .activity .partially-paid,
.company-activites .activity .sub-title {
    display: inline-block;
    margin-top: 2%;
}

.company-activites .activity .sub-title {
    font-size: 14px;
}

.company-activites .activity .partially-paid {
    visibility: hidden;
    background-color: #56B349;
    padding: 1%;
    width: 40%;
    border-radius: 5px;
    color: #fff;
    height: 23px;
    margin-top: 0px;
}

.company-activites .activity .partially-paid .icon {
    background: url('../images/InfoIcon@2x.png') no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 2%;
}

.company-activites .activity .partially-paid .text {
    position: relative;
    top: -5px;
    font-size: 17px;
    padding-top: 1%;
}

.company-activites .activity .partially-paid.active {
    visibility: visible;
    margin-top: 7px;
}

.company-activites .activity .comment {
    font-size: 12px;
    text-align: right;
    color: #979797;
    width: 58%;
}

.company-activites .height-content {
    height: 75px;
}
