.header {
    width: 375px;
    position: fixed;
    font-size: 17px;
    font-weight: bold;
    z-index: 3;
    min-height: 47px;
    height: 53px;
    background-color: #f7f7f8;
    padding-top: 23px;
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
    -webkit-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 1px 1px 1px 0px #b2b2b2;
    box-shadow: 1px 1px 1px 0px #b2b2b2;
}

.header span {
    display: inline-block;
    position: relative;
    top: 50%;
}

.header .title {
    width: 100%;
    position: absolute;
    top: 35%;
    margin: 15px auto 10px auto;
    text-align: center;
    color: #000000;
    font-family: 'HelveticaNeue', sans;
    z-index: 2;
    display: inline-block;
    font-size: 17px;   
}

.header .left-icon {
    float: left;
    margin: -15px 0 0 4%;
    color: #3965ce;
    width: 112px;
    z-index: 3;
}

.header .left-icon:before {
    font-size: 30px;
    position: relative;
    top: 7px;
}

.header .right-icon {
    display: inline-block;    
    float: right;    
    color: #3965ce;
    margin: -17px 3% 0 3%;
    z-index: 3;
}

.header .right-icon.icon {
    height: 37px;
    width: 37px;
    font-size: 26px;
    margin: -18px 1%;
}

.header .left-icon.ss-navigateleft {
    margin: -33px 0 0 1%;
}

.header .left-icon.menu-icon {
    background: url('../images/menu-icon.png') no-repeat;
    background-size: contain;
    width: 37px;
    height: 19px;
    z-index: 3;
}

.header .left-icon.back-button {
    color: #31a6de;
    font-family: 'HelveticaNeue', sans;
}

.header.menu-open {
    transform: translateX(75%);
    -webkit-transform: translateX(75%);
}

::-webkit-scrollbar {
    display: none;
}
