.invoices {
    background-color: #f3f5f8;
}

.invoices .summary {
    color: #6988A7;
    font-size: 14px;
}

.invoices .invoice-list {
    font-size: 12px;
    color: #a8a8a8; 
}

.invoices .invoice-list .invoice {
    padding-top: 3.74%;
    padding-left: 4%;
    padding-right: 4.29%;
    padding-bottom: 3.87%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 1.5%;
    height: 16.8vw;
}

.invoices .invoice-list .invoice:active {
    opacity: 0.5;
}

.invoices .summary .balance,
.invoices .summary .text {
    margin: 2% 5%;
    width: 40%;
    display: inline-block;
}

.invoices .invoice .row {
    margin-bottom: 2%;
}

.invoices .invoice .main-information {
    font-weight: bold;
    font-size: 4.55vw;
    color: #000;
}

.invoices .invoice .main-information span {
    width: 50%;
    display: inline-block;
    font-size: 4.55vw;
}

.invoices .invoice .date-information span {
    width: 50%;
    display: inline-block;
    font-size: 3.75vw;
}

.invoices .invoice .amount,
.invoices .invoice .date,
.invoices .invoice .invoice-id,
.invoices .summary .text {
    text-align: right;
}

.invoices .invoice .invoice-id {
    width: 100%;
    display: inline-block;
}
