.invoice-detail div, .invoice-detail span, 
.invoice-detail h1, .invoice-detail h2, .invoice-detail h3, .invoice-detail p,
.invoice-detail img {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     vertical-align: baseline;
     line-height: 1.3;
}

.invoice-detail .ss-gizmo {
    display: inline-block;
}

.invoice-detail {
    background-color: #fff;
}

.invoice-detail .text-left {
    text-align: left;
}

.invoice-detail .text-right {
    text-align: right;
}

.invoice-detail .fl {
    float: left;
}

.invoice-detail .fr {
    float: right;
}

.invoice-detail .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*Customize */
.invoice-detail .row {
    padding-left: 4vw;
}

.invoice-detail .color-sky-blue {
    background: #0098CD;
    color: #fff;
    font-size: 5vw;
    height: 41.338vw;
}

.invoice-detail .dates {
    margin-top: 4.28vw;
    margin-right: 3.75vw;
    font-size: 3.2vw;
}

.invoice-detail .dates ul li span {
    font-weight: normal;
    font-size: 4.5vw;
    margin: 0;
}

.invoice-detail .dates ul li .dates-bold {
    font-weight: bold;
    font-size: 3.2vw;
    letter-spacing: 1px;
}

.invoice-detail .dates ul li .date-text {
    width: 50px;
    margin-right: 3px;
}

.invoice-detail .invoice {
    margin-top: 4vw;
}

.invoice-detail .ss-navigateright {
    margin-left: 3px;
    font-size: 3vw;
}

.invoice-detail .invoice ul li:first-child {
    font-size: 6.65vw;
}

.invoice-detail .more span {
    font-size: 3.2vw;
}

.invoice-detail .invoice ul li:nth-child(2) {
    letter-spacing: 1px;
    font-size: 4vw;
}

.invoice-detail .invoice ul li:nth-child(3) {
    font-size: 4.55vw;
}

.invoice-detail .balance {
    background: #24486C;
    color: #fff;
    font-size: 8.01vw;
    padding: 2vw 3.75vw 0 0;
    border-bottom: 3px solid #24486C;
    width: 175px;
    height: 12vw;
    margin-top: 2vw;
}

.invoice-detail .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: #fff #1F405E #fff #fff;
}

.invoice-detail .blank {
    width: 210px;
}

.invoice-detail .payment {
    color: #fff;
    background: #24486C;
    font-size: 4vw;
    padding-bottom: 14px;
    padding-top: 5px;
    padding-right: 14px;
    border-left: 1px solid #24486C;
    border-top: 1px solid #24486C;
    width: 130px;
    padding-left: 5px;
}

.invoice-detail .payment span {
    font-size: 3.45vw;
}

.invoice-detail .fa {
    margin-left: 5px;
}

.invoice-detail .details {
    padding-top: 4px;
}

.invoice-detail .amount {
    font-size: 4.55vw;
    margin-right: 3.75vw;
    margin-top: 2.5vw;
    width: 50%;
}

.invoice-detail .ss-fastforward {
    font-size: 3vw;
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.invoice-detail .product {
    font-size: 3.55vw;
    margin-top: 2.5vw;
}

.invoice-detail .product-detail {
    margin-top: 3px;
    margin-bottom: 5px; 
    font-size: 4vw;
    color: #000;
}

.invoice-detail .product-detail .description {
    margin-right: 5px; 
}

.invoice-detail .product-detail .taxable {
    color: #969696;
    font-size: 3.55vw;
}

.invoice-detail .product-detail .taxable i {
    font-style: initial;
    margin-left: 3.3vw;
    margin-right: 3.4vw;
}

.invoice-detail .border-double {
    margin-bottom: 4.8vw;
    padding-bottom: 5px;
    margin-left: 4vw;
    border-bottom: 3px double #DDDDDD;
    padding-left: 0;
}

.invoice-detail .description {
    width: 100%;
    font-size: 3.55vw;
}

.invoice-detail .description-price {
    margin-right: 20px;
    font-size: 5vw;
}

.invoice-detail .total-text {
    font-weight: bold;
    width: 65%;
    text-align: right;
    color: #969696;
    font-size: 4vw;
    margin-top: 3px
}

.invoice-detail .total-price {
    font-size: 4.8vw;
    width: 35%;
    text-align: right;
}

.invoice-detail .payment-text {
    width: 65%;
    text-align: right;
    color: #969696;
    margin-top: 3vw;
    font-size: 4vw;
}

.invoice-detail .payment-price {
    width: 35%;
    text-align: right;
    margin-top: 2vw;
    font-size: 4.8vw;
}

.invoice-detail .circles {
    color: #24486C;
    border-radius: 50%;
    padding: 4px 3px 2px 5px;
    background: #fff;
}

.invoice-detail .sign img {
    margin-top: 35px;
    width: 200px;
    height: 48px;
}

.invoice-detail .sign {
    padding-left: 5.35vw;
}

.invoice-detail .sign p {
    font-size: 3vw;
    color: #161616;
    padding-top: 16px;
}
