@font-face {
    font-family: 'GothamHTFLight';
    src: url('../fonts/GothamHTF/GothamHTF-Light.otf') format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype');
}

html {
    margin: 0; 
    padding: 0;
}

body {
    margin: 0;
    font-family: 'HelveticaNeue';
    background-color: #d3d3d3;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

.view-container {
    transition: transform 0.5s ease-in;
    -webkit-transition: transform 0.5s ease-in;
}

.view-container.menu-open {
    transform: translateX(75%);
    -webkit-transform: translateX(75%);
}

.view-container .content {
    padding-top: 20%;
    width: 100vw;
    height: 88.8vh;
    color: #000;
}

.react-menu-nav {
    width: 75%;
    position: absolute;
    top: 0;
    background-color: #193048;
    color: #fff;
    overflow-y: hidden; /*scroll;*/
    -webkit-overflow-scrolling: touch;
    left: 0;
    height: 0;
    transition-property: height;
    -webkit-transition-property: height;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

.react-menu-nav.menu-open {
    height: 667px;
    z-index: 3;
    transition-property: z-index;
    -webkit-transition-property: z-index;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
}

.react-menu-nav .container {
    padding-top: 77px;
}

.react-menu-nav .title {
    display: inline-block;
    background-color: #2D4257;
    width: 93%;
    padding: 4.3% 0 3% 7.10%;
    color: #C4DBF0;
}

.react-menu-nav ul {
    padding: 0;
    margin: 0;
}

.react-menu-nav ul li {
    list-style: none;
    padding: 4.3% 0 5.7% 7.10%;
    width: 92%;
    font-size: 4.55vw;
    color: #c4dbf0;
}

.react-menu-nav ul li:active {
    background-color: #0098CD;
}

.react-menu-nav ul li .plus {
    display: inline-block;
    border: 2px solid #C4DBF0;
    border-radius: 50%;
    width: 5.9vw;
    height: 5.9vw;
    text-align: center;
    float: right;
    margin-right: 10px;
    font-family: 'GothamHTFLight';
    margin-top: -2px;
}

.react-menu-nav ul li .plus .more{
    font-size: 6vw;
    font-weight: bold;
    line-height: 6.4vw;
    color: #C4DBF0;
}

.content.not-active {
   pointer-events: none;
   cursor: default;
}
