.send-invoice div, .send-invoice span, 
.send-invoice h1, .send-invoice h2, .send-invoice h3, .send-invoice p,
.send-invoice img {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     vertical-align: baseline;
     line-height: 1.3;
}

.send-invoice .fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.send-invoice {
    background-color: #F3F5F8;
}

.send-invoice .text-left {
    text-align: left;
}

.send-invoice .text-right {
    text-align: right;
}

.send-invoice .fl {
    float: left;
}

.send-invoice .fr {
    float: right;
}

.send-invoice .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*Customize */
.send-invoice .row {
    width: 100%;
    margin: 10px 2px 5px 2px;
}

.send-invoice .row .input {
    border: none;
    height: 38px;
    font-size: 5vw;
    background: #fff;
}

.send-invoice .to-text {
    width: 68.1%;
}
.send-invoice .subject-text {
    border: none;
    height: 36px;
    font-size: 4.5vw;
    background: #fff;
    width: 265px;
    text-overflow: ellipsis;
}

.send-invoice .to-placeholder {
    border: 1px solid #fff;
    height: 36px;
    width: 16.9%;
    background: #fff;
}

.send-invoice .to-placeholder p {
    color: #969696;
    margin: 1.75vw 3.75vw;
    font-size: 4.55vw;
    font-weight: bold;
}

.send-invoice .subject-row {
    background: #fff;
    width: 98.5%;
    border: 1px solid #fff;
}
.send-invoice .subject-placeholder {
    height: 45px;
    width: 92px;
    background: #fff;
}

.send-invoice .subject-placeholder p {
    color: #969696;
    margin: 1.75vw 3.75vw;
    font-size: 4.55vw;
    font-weight: bold;
}

.send-invoice .to-icon {
    border: 1px solid #fff;
    height: 36px;
    width: 12.5%;
    background: #fff;
}

.send-invoice .content-icon {
    margin: 1.867vw 1.07vw;
}

.send-invoice .to-icon i {
    color: #fff;
    background: #3965CE;
    padding: 7px 5px;
    font-size: 4.5vw;
    font-weight: bold;
}

.send-invoice .to-icon .border-contact {
    background: #3965CE;
    padding: 7px 0px;
    margin-right: 1px;
    border-radius: 100% 0 0 100%;
}

.send-invoice .row .send-text {
    border: 1px solid #fff;
    width: 369px;
    height: 400px;
    font-size: 4.5vw;
    background-color: #ffffff;
}
.send-invoice .row .send-text li {
    margin-left: 3.75vw;
}

.send-invoice .row .send-text li:first-child {
    margin-top: 5vw;
    margin-bottom: 5vw;
}
